<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="python2" />
  <package id="python3" />
  <package id="PyCharm-professional"/>
  <package id="SourceTree" />
  <package id="TortoiseGit" />
  <package id="GoogleChrome" />
  <package id="Firefox" />
  <package id="evernote" />
  <package id="skitch" />
  <package id="dropbox" />
  <package id="virtualbox" />
  <package id="vagrant" />
  <package id="7zip" />
  <package id="windirstat" />
  <package id="winscp" />
  <package id="nodejs.install" />
  <package id="javaruntime" />
  <package id="RapidEE" />
  <package id="ConEmu" />
  <package id="procexp" />
  <package id="bzeditor" />
  <package id="filezilla" />
</packages>  
